<div class="col-xxl-6">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Pizza de 4 Queijos" name="nome" value="{{this.nome}}">
            <label for="floatingInput">Nome</label>
        </div>
    </div>
    <div class="col-xxl-3">
        <div class="form-floating">
            <input type="number" class="form-control" id="floatingPreco" placeholder="39.5" style="width: 150px" name="preco" value="{{this.preco}}">
            <label for="floatingPreco">Preço</label>
        </div>
    </div>
    <div class="col-xxl-3">
        <div class="form-floating">
            <input class="form-control" type="text" value="1" aria-label="readonly input example" readonly name="id_usuario">
            <label>Cadastro por:</label>
        </div>
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Detalhes" id="floatingTextarea2" style="height: 100px" maxlength="100" name="descricao">{{this.descricao}}</textarea>
        <label for="floatingTextarea2"> Detalhes</label>
    </div>
    <div class="col-xxl-3">
        <div class="form-floating">
            <input class="form-control" type="text" value="ativo" aria-label="readonly input example" readonly name="situacao">
            <label>Disponível?</label>
        </div>
    </div>

    <div class="col-12 d-gird">
        <button class="btn btn-outline-dark" type="submit">Adicionar</button>
    </div>